.mainHome {
    text-align: center;
    font-family: "Roboto";
    background-color: #f8f0d3;
    color: #303c6c;
    min-height: 100vh;
}

.mainHome h1 {
    font-family: "Gochi Hand", cursive;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 6em;
}

.mainHome h3 {
    margin: 30px 0px;
    font-size: 2em;
}

.loginButton :hover {
    cursor: pointer;
    padding: 0;
}

.homeTexts img {
    width: 60%;
    max-width: 150px;
}

.loginButton img {
    padding: 0;
    width: 175px;
    height: 42px;
}

.homeTexts {
    margin: 0 auto;
    width: 70%;
}

@media(max-width: 600px) {
    .homeTexts h1 {
        font-size: 45px
    }
}

.homeTexts p {
    line-height: 2;
}

.homeDecBtn {
    padding-top: 50px;
    padding-bottom: 50px;
}