.mainHome {
    text-align: center;
    font-family: "Roboto";
    background-color: rgba(255, 255, 255, 0);
    /*color: #303c6c;*/
    /*color: #c49102;*/
    min-height: 100vh;
    max-width: 100%;
}

.mainHome::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-width: 100%;
}

.mainHome h1 {
    /*text-shadow: 5px 5px 1px rgba(218, 104, 15);
    font-family: "League Script", cursive;*/
    font-family: "EB Garamond", cursive;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 8em;
}

.mainHome h3 {
    text-shadow: 0px 0px 5px #f8f0d3;
    margin: 30px 0px;
    font-size: 2em;
}

.mainHome h4 {
    text-shadow: 0px 0px 5px #f8f0d3;
}

.homeTexts img {
    width: 60%;
    max-width: 150px;
}

.loginButton {
    position: relative;
    height: 40px;
    min-width: 200px;
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-family: "Roboto";
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    letter-spacing: 0.22px;
}

.loginButton p {
    padding: 0px 20px 0px 45px;
    margin: 0;
    display: inline-block;
}

.loginButton:hover {
    cursor: pointer;
    background-color: #fff2c2;
    transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
}

.loginButton:focus {
    outline: 5px auto rgba(207, 151, 31, 0.7)
}

.googleLogo:before {
    content: "";
    position: absolute;
    background-image: url("../../Assets/web/vector/GoogleLogo.svg");
    background-size: 100%;
    top: 9px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.homeTexts {
    margin: 0 auto;
    width: 70%;
}

.homeTexts p {
    line-height: 2;
}

.homeDecBtn {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pplCount {
    padding-bottom: 30px;
    margin-bottom: 0;
}


/* FOR MOBILE */

@media(max-width: 800px) {
    .homeTexts h1 {
        font-size: 50px
    }
}