.MainNavbar {
    /*background-color: #f7e08d;*/
    background-color: #da680f;
    display: flex;
    text-align: center;
    align-content: center;
    font-family: "Roboto";
}

.NavLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.signIn {
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #303c6c;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 15px;
    margin-bottom: 0px;
}

.signIn:hover {
    cursor: pointer;
    color: #6279c4;
    transition: .15s color ease-out;
}

.fflogo {
    height: 35px;
    widows: 35px;
    padding-right: 10px;
}

.brandBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brandBox p {
    font-weight: bold;
    font-size: 1.2em;
    color: #303c6c;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nlink p {
    font-weight: bold;
    font-size: 1.2em;
    color: #303c6c;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nlink p:hover {
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.namediv {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.namediv p {
    font-weight: bold;
    font-size: 1.2em;
    color: #303c6c;
    padding-bottom: 0px;
    margin-bottom: 0px;
}