.mainContact {
    background-color: rgba(248, 247, 216, 0.7);
    position: relative;
    margin-top: -62px;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.aboutHeader {
    text-align: center;
}

.aboutText {
    margin-left: 10%;
    margin-right: 10%
}

.aboutText p {
    font-weight: 600;
    font-size: 22px
}