    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /*html {
        position: fixed;
        overflow: hidden;
    }*/
    
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }
    
    .enclosedDiv {
        max-height: 100%;
        overflow-y: auto;
        background-image: url("./Assets/backgroundAlpha.png");
        height: 100%;
        background-size: 100% 100%;
        -webkit-overflow-scrolling: touch;
    }
    
    .fallingLeaves {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100%;
        z-index: -1;
        -webkit-transform: translate3d(0, 0, 0);
        /*max-width: 880px;
        max-height: 880px;*/
        transform: translate(-50%, 0);
        /*border: 20px solid #fff;
        border-radius: 50px;*/
        background: url(http://sarahmhigley.com/static/images/sidebar-bg.png) no-repeat center center;
        background-size: cover;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .leafScene {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transform: translate3d(0, 0, 0);
        bottom: 0;
        width: 100%;
        transform-style: preserve-3d;
    }
    
    .leafScene div {
        position: absolute;
        z-index: -1;
        -webkit-transform: translate3d(0, 0, 0);
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url("Assets/maple-leaf.svg") no-repeat;
        background-size: 100%;
        transform-style: preserve-3d;
        backface-visibility: visible;
    }